@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-dark-text font-sans;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-layer1;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-layer2 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-brand-primary;
}
